<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알레르기 정보 관리</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div id="apiUrl" th:data-url="${apiUrl}"></div>
    <input type="hidden" id="loginToken" name="loginToken">

    <div id="dataStatusMessage"></div>
    <div id="allergyFields"></div>
    <button id="addButton" class="btn btn-primary mt-2">항목 추가</button>
    <button id="saveButton" class="btn btn-success mt-2">저장</button>
</div>
<a href="/main_menu/select" class="btn btn-success" style="position: fixed; right: 20px; text-decoration: none; color: white;">메인 메뉴로 이동</a>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/allergy/SendAllergyData.js"></script>
<script src="/common/CommonFunction.js"></script>

</body>
</html>