<!DOCTYPE html>
<html lang="en">

</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 정보 입력</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-3">
    <input type="hidden" id="loginToken" name="loginToken">
    <input type="hidden" id="postDate" th:value="${date}">
    <div id="apiUrl" th:data-url="${apiUrl}"></div>
    <form id="menuPostForm">
        <div class="form-row align-items-end">
            <div class="col">
                <label for="foodType">식사 타입:</label>
                <select id="foodType" name="foodType" class="form-control">
                    <option value="breakfast">아침</option>
                    <option value="lunch">점심</option>
                    <option value="dinner">저녁</option>
                </select>
            </div>
            <div class="col">
                <label for="foodTime">음식을 먹은 시간:</label>
                <input type="time" class="form-control" id="foodTime" name="foodTime" required>
            </div>
        </div>
        <div class="form-row align-items-end mt-3">
            <div class="col-9">
                <label for="foodName">음식 이름:</label>
                <input type="text" class="form-control" id="foodName" name="foodName" required>
            </div>
            <div class="col">
                <button type="button" id="searchRecipe" class="btn btn-primary">재료 검색</button>
            </div>
        </div>
        <div id="ingredientsWrapper" class="mt-3"></div>
        <button type="button" id="addIngredient" class="btn btn-info mt-3">원재료 추가</button>
        <div id="ingredientsList" class="row mt-3"></div>
        <div class="form-group mt-3">
            <label for="foodNotes">특이사항:</label>
            <input type="text" class="form-control" id="foodNotes" required>
        </div>
        <button type="submit" class="btn btn-secondary">작성 완료</button>
    </form>
</div>
<script src="/menu_health_data/SendMenuData.js"></script>
<script src="/menu_health_data/SearchRecipe.js"></script>

</body>
</html>