<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="/css/LoginAndSignup.css">
</head>
<body>
<div id="SignupAndLoginForm">
    <form class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
        </ul>

        <div class="tab-content">
            <div id="apiUrl" th:data-url="${apiUrl}"></div>
            <div id="signup">
                <h1>Sign Up for Free</h1>
                <form>
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                ID<span class="req">*</span>
                            </label>
                            <input type="text" id="userName" name="userName" minlength="4" maxlength="20" required autocomplete="off" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Password<span class="req">*</span>
                            </label>
                            <input type="password" id="password" name="password" minlength="8" maxlength="20" required autocomplete="off"/>
                        </div>
                    </div>
                    <div class="field-wrap email-verify-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" id="email" name="email" required autocomplete="off"/>
                        <input type="hidden" id="checkVerificationEmail" name="checkVerificationEmail">
                        <button id="verifyEmailBtn" class="button button-small">Verify Email</button>
                    </div>

                    <div id="verificationCodeSection" class="field-wrap code-verify-wrap" style="display:none;">
                        <div class="field-wrap">
                            <label>
                                Verification Code<span class="req">*</span>
                            </label>
                            <input type="text" id="verificationCode" name="verificationCode" autocomplete="off"/>
                        </div>
                        <button id="submitVerificationCodeBtn" class="button button-small" type="button">Submit Code</button>
                        <button id="resendVerificationEmailBtn" class="button button-small" type="button">Resend Email</button>
                        <div id="verificationStatus" class="verification-status"></div>
                    </div>


                    <div class="BirthDate">
                        <label>
                            BirthDate<span class="req">*</span>
                        </label>
                        <input type="Date" id="birthDate" name="birthDate" required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <div class="gender">
                            <label for="male">Male</label>
                            <input type="radio" id="male" name="gender" value="male" required>
                            <label for="female">Female</label>
                            <input type="radio" id="female" name="gender" value="female" required>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Height<span class="req">*</span>
                        </label>
                        <input type="number" id="height" name="height" required autocomplete="off">
                    </div>
                    <button id="signupBtn" class="button button-block" type="button">Sign Up</button>
                </form>

            </div>

            <div id="login">
                <h1>Welcome Back!</h1>
                <form>
                    <div class="field-wrap">
                        <label>
                            ID<span class="req">*</span>
                        </label>
                        <input type="text" id="loginId" name="loginId" required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" id="loginPassword" name="loginPassword" required autocomplete="off"/>
                    </div>

                    <p class="forgot"><a href="#">Forgot Password?</a></p>

                    <button id="loginBtn" class="button button-block" type="button">Log In</button>
                </form>

            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/signup/SignupTap.js"></script>
<script src="/signup/VerificationEmail.js"></script>
<script src="/signup/SendSignupData.js"></script>
<script src="/login/SendLoginData.js"></script>

</body>
</html>
