<!DOCTYPE html>
<html lang="en">

</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 정보 입력</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="menu-tab" data-toggle="tab" href="#menu" role="tab" aria-controls="menu" aria-selected="true">메뉴 정보</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="disease-tab" data-toggle="tab" href="#disease" role="tab" aria-controls="disease" aria-selected="false">질병 정보</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <input type="hidden" id="loginToken" name="loginToken">
        <input type="hidden" id="postDate" th:value="${date}">
        <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="menu-tab">
            <form id="menuPostForm" onsubmit="return sendMenuData()">
                <div class="form-row align-items-end">
                    <div class="col">
                        <label for="foodType">식사 타입:</label>
                        <select id="foodType" name="foodType" class="form-control">
                            <option value="breakfast">아침</option>
                            <option value="lunch">점심</option>
                            <option value="dinner">저녁</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="foodTime">음식을 먹은 시간:</label>
                        <input type="time" class="form-control" id="foodTime" name="foodTime" required>
                    </div>
                </div>
                <div class="form-row align-items-end mt-3">
                    <div class="col-9">
                        <label for="foodName">음식 이름:</label>
                        <input type="text" class="form-control" id="foodName" name="foodName" required>
                    </div>
                    <div class="col">
                        <button type="button" id="searchRecipe" class="btn btn-primary">재료 검색</button>
                    </div>
                </div>
                <div id="ingredientsWrapper" class="mt-3"></div>
                <button type="button" id="addIngredient" class="btn btn-info mt-3">원재료 추가</button>
                <div id="ingredientsList" class="row mt-3"></div>
                <div class="form-group mt-3">
                    <label for="foodNotes">특이사항:</label>
                    <input type="text" class="form-control" id="foodNotes" required>
                </div>
                <button type="submit" class="btn btn-secondary">작성 완료</button>
            </form>
        </div>





        <div class="tab-pane fade" id="health" role="tabpanel" aria-labelledby="health-tab">
            <div id="dataStatusMessage"></div>
            <form id="healthPostForm" onsubmit="return sendHealthData()">
                <div class="form-group">
                    <div id="HealthData"></div>
                </div>

                <div class="form-group">
                    <label for="allergiesStatus">알러지 상태 선택 (1-10) :</label>
                    <input type="number" class="form-control" id="allergiesStatus" min="1" max="10" required>
                </div>

                <div class="form-group">
                    <label for="conditionStatus">컨디션 선택 (1-10) :</label>
                    <input type="number" class="form-control" id="conditionStatus" min="1" max="10" required>
                </div>

                <div class="form-group">
                    <label for="weight">몸무게 :</label>
                    <input type="number" class="form-control" id="weight" required>
                </div>

                <div class="form-group">
                    <label for="sleepTime">수면시간 :</label>
                    <input type="number" class="form-control" id="sleepTime" min="1" max="24" required>
                </div>


                <div class="form-group">
                    <label for="healthNotes">특이사항을 입력해주세요!</label>
                    <input type="text" class="form-control" id="healthNotes" required>
                </div>

                <button type="submit" class="btn btn-secondary" id="healthDataSubmit">작성 완료</button>
            </form>
            <button id="addDataButton" class="btn btn-primary" style="display:none;">데이터 추가</button>
            <button id="editDataButton" class="btn btn-primary" style="display:none;">수정</button>
        </div>
    </div>
</div>


<script src="/send_MenuData.js"></script>
<script src="/SearchRecipe.js"></script>
<script src="/checkHealthData.js"></script>

<!-- jQuery 및 부트스트랩 스크립트 추가 -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $('#postMenuSubmit').click(function(event) {
            event.preventDefault();
            sendMenuData();
        });
    });

    $(document).ready(function() {
        $('#diseaseSubmit').click(function(event) {
            event.preventDefault();
            send_DiseaseData();
        });
    });

</script>
</body>
</html>
