<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시물 세부 정보</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/PostDetail.css">
</head>
<body>

<div class="container mt-5">
  <div class="back-to-list mb-3">
    <div id="apiUrl" th:data-url="${apiUrl}"></div>
    <a href="/postList.html">← 게시판 목록으로 돌아가기</a>
  </div>
  <div id="postDetail" class="card">
    <div class="card-body">
      <h3 class="card-title" id="postTitle"></h3>
      <p class="card-text" id="postContent"></p>
      <div id="postImages" class="carousel slide mb-3" data-ride="carousel">
        <!-- 이미지 슬라이드가 들어갈 위치 -->
      </div>
      <h5>건강 데이터</h5>
      <table class="table" id="healthData">
        <!-- 건강 데이터 테이블 -->
      </table>
      <h5>음식 데이터</h5>
      <table class="table" id="foodData">
        <!-- 음식 데이터 테이블 -->
      </table>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/post_view/PostDetail.js"></script>
</body>
</html>
