.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none; /* 기본 배경 이미지를 제거 */
    width: 50px; /* 아이콘의 크기 조정 */
    height: 50px; /* 아이콘의 크기 조정 */
    border: 1px solid black; /* 아이콘 테두리 */
    border-radius: 50%; /* 원형 아이콘 */
    display: flex; /* 내부 요소를 가운데 정렬하기 위해 flex 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    background-color: #007bff; /* 배경 색상 변경, 예시로 파란색 사용 */
}

.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
    content: '❮'; /* 이전 버튼 아이콘 */
    font-size: 20px; /* 아이콘 크기 조정 */
    color: white; /* 아이콘 색상 */
}

.carousel-control-next-icon:after {
    content: '❯'; /* 다음 버튼 아이콘 */
}

.comment-delete-button {
    text-align: right; /* 우측 정렬 */
    margin-top: 10px; /* 위치 조정 */
}
.delete-comment, .delete-reply {
    font-size: 0.8rem; /* 버튼의 폰트 크기 조정 */
    padding: 0.25rem 0.5rem; /* 패딩을 줄여서 전체 크기를 감소 */
}